.navbar {
  @include highlighted-color;
  @include text-color;
  position: sticky;
  top: 0;
  padding: rem(12) rem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(64);

  &__logo {
    max-width: rem(100);
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: rem(4);
    padding: 0;
  }
  &__menu-item {
    padding: rem(8) rem(16);
    &:hover {
      background: $primary-color;
      border-radius: rem(4);
      color: $ss-white;
    }
    &--active {
      @include background-color;
      border-radius: rem(4);
      color: $ss-white;
    }
  }
}
