.navbar {
  background-color: $ss-white;
  color: $ss-gray;
  padding: 1rem;

  &__logo {
    font-size: 1.5rem;
  }

  &__menu {
    list-style: none;
    display: flex;

    &__item {
      margin: 0 1rem;
    }

    &__link {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
