.form {
  &__wrapper {
    @include border-color;
    @include shadow-color;
    border-radius: rem(12);
    display: flex;
    width: min-content;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
  &__group {
    margin-bottom: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    & input {
      @include text-color;
      @include foreground-color;
      &:hover {
        @include hover-focus-color;
      }
      &:focus {
        @include hover-focus-color;
      }
      padding: 0.5rem;
      width: 300px;
      border-radius: 4px;
      outline-style: none;
    }
  }

  &__label {
    @include text(interface);
    color: $primary-color;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  &__error {
    @include text(misc);
    @include scale-in-ver-bottom;
    color: $ss-red;
    padding-left: 0.5rem;
  }

  &__button {
    @include text(interface);
    background-color: $ss-green;
    color: $ss-white;
    padding: 0.75rem;
    width: 300px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $ss-green-d;
    }
    &:focus {
      background-color: $ss-green-d;
    }
    &:active {
      background-color: $ss-green-d;
    }
    &:disabled {
      background-color: $ss-gray;
      cursor: not-allowed;
      &:hover {
        background-color: $ss-gray-d;
      }
      &:focus {
        background-color: $ss-gray;
      }
      &:active {
        background-color: $ss-gray;
      }
    }
  }
}
