.home {
  &__container {
    @include flex-center;
    flex-wrap: wrap;
    margin-top: rem(-64);
    padding: rem(16);
    padding-top: rem(64);
    height: 100dvh;
  }
  &__title {
    @include flex-center;
    flex-direction: column;
    gap: rem(32);
    min-width: rem(300);
    max-width: rem(550);
    & img {
      min-width: rem(300);
    }
  }
  &__button {
    @include border-color;
    @include heading(3);
    border-radius: rem(8);
    background: $ss-white;
    padding: rem(12) rem(16);
    color: $primary-color;
  }
}
