:root {
  // react-tooltip variables
  --rt-color-white: $ss-white;
  --rt-color-dark: $ss-black;
  --rt-color-success: $ss-success;
  --rt-color-error: $ss-error;
  --rt-color-warning: $ss-warning;
  --rt-color-info: $ss-info;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
  background-color: $ss-white;
  color: $ss-black;
}
[data-theme='dark'] {
  background-color: $ss-black;
  color: $ss-white;
}
a {
  color: $primary-color;
  font-family: Arvo;
  text-decoration: none;
}
