* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  transition: all 250ms ease-out;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: 'Zilla Slab', serif;
  font-synthesis: none;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
