@mixin container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: rem(16);
  width: 100%;
}

@mixin article {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16);
  min-width: rem(300);
  max-width: rem(550);
  height: fit-content;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin text-color {
  color: $ss-black;
  [data-theme='dark'] & {
    color: $ss-white;
  }
}

@mixin background-color {
  background: $ss-white;
  [data-theme='dark'] & {
    background: $ss-black;
  }
}

@mixin foreground-color {
  background: $ss-gray-l;
  [data-theme='dark'] & {
    background: $ss-gray-dr;
  }
}

@mixin highlighted-color {
  background: $ss-gray-lr;
  [data-theme='dark'] & {
    background: $ss-gray-d;
  }
}

@mixin gradient-bg($color) {
  @if $color == 'primary' {
    background: $primary-convex-bg;
    &:hover {
      background: $primary-concave-bg;
    }
  } @else if $color == 'secondary' {
    background: $secondary-convex-bg;
    &:hover {
      background: $secondary-concave-bg;
    }
  } @else if $color == 'accent' {
    background: $accent-convex-bg;
    &:hover {
      background: $accent-concave-bg;
    }
  }
}

@mixin shadow-sm($inset: false) {
  @if $inset {
    box-shadow:
      inset 4px 4px 8px $ss-gray-l,
      inset -4px -4px 8px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        inset 4px 4px 8px $ss-gray-dr,
        inset -4px -4px 8px $ss-gray-d;
    }
  } @else {
    box-shadow:
      4px 4px 8px $ss-gray-l,
      -4px -4px 8px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        4px 4px 8px $ss-gray-dr,
        -4px -4px 8px $ss-gray-d;
    }
  }
}

@mixin shadow-md($inset: false) {
  @if $inset {
    box-shadow:
      inset 8px 8px 12px $ss-gray-l,
      inset -8px -8px 12px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        inset 8px 8px 12px $ss-gray-dr,
        inset -8px -8px 12px $ss-gray-d;
    }
  } @else {
    box-shadow:
      8px 8px 12px $ss-gray-l,
      -8px -8px 12px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        8px 8px 12px $ss-gray-dr,
        -8px -8px 12px $ss-gray-d;
    }
  }
}

@mixin shadow($inset: false) {
  @if $inset {
    box-shadow:
      inset 12px 12px 16px $ss-gray-l,
      inset -12px -12px 16px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        inset 12px 12px 16px $ss-gray-dr,
        inset -12px -12px 16px $ss-gray-d;
    }
  } @else {
    box-shadow:
      12px 12px 16px $ss-gray-l,
      -12px -12px 16px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        12px 12px 16px $ss-gray-dr,
        -12px -12px 16px $ss-gray-d;
    }
  }
}

@mixin shadow-lg($inset: false) {
  @if $inset {
    box-shadow:
      inset 16px 16px 24px $ss-gray-l,
      inset -16px -16px 24px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        inset 16px 16px 24px $ss-gray-dr,
        inset -16px -16px 24px $ss-gray-d;
    }
  } @else {
    box-shadow:
      16px 16px 24px $ss-gray-l,
      -16px -16px 24px $ss-gray-lr;
    [data-theme='dark'] & {
      box-shadow:
        16px 16px 24px $ss-gray-dr,
        -16px -16px 24px $ss-gray-d;
    }
  }
}

@mixin hover-focus-color {
  background-color: $ss-gray-lr;
  [data-theme='dark'] & {
    background-color: $ss-gray-d;
  }
}

@mixin border-color($px: 4px) {
  border: $px solid $ss-gray-l;
  [data-theme='dark'] & {
    border: $px solid $ss-gray-dr;
  }
}

@mixin heading($level) {
  @if $level == 1 {
    max-width: rem(550);
    font-weight: 400;
    font-size: rem(96);
    font-family: Arvo;
    letter-spacing: -1.5px;
    @media (max-width: 1024px) {
      font-size: rem(72);
    }
    @media (max-width: 480px) {
      font-size: rem(48);
    }
  } @else if $level == 2 {
    font-weight: 400;
    font-size: rem(64);
    font-family: Amaranth;
    letter-spacing: -0.5px;
    @media (max-width: 1024px) {
      font-size: rem(48);
    }
    @media (max-width: 480px) {
      font-size: rem(36);
    }
  } @else if $level == 3 {
    font-weight: bold;
    font-size: rem(48);
    font-family: Amaranth;
    @media (max-width: 1024px) {
      font-size: rem(36);
    }
    @media (max-width: 480px) {
      font-size: rem(24);
    }
  }
}

@mixin subtitle($level) {
  @if $level == 1 {
    font-weight: 400;
    font-size: rem(32);
    font-family: Amaranth;
    letter-spacing: 0.25px;
    @media (max-width: 1024px) {
      font-size: rem(28);
    }
    @media (max-width: 480px) {
      font-size: rem(24);
    }
  } @else if $level == 2 {
    font-weight: bold;
    font-size: rem(24);
    font-family: Arvo;
    @media (max-width: 1024px) {
      font-size: rem(20);
    }
    @media (max-width: 480px) {
      font-size: rem(18);
    }
  }
}
@mixin text($type) {
  @if $type == base {
    font-weight: 400;
    font-size: rem(16);
    font-family: Zilla Slab;
  } @else if $type == interface {
    font-weight: 600;
    font-size: rem(14);
    font-family: Zilla Slab;
    letter-spacing: 1.25px;
  } @else if $type == misc {
    font-weight: bold;
    font-size: rem(12);
    font-family: Arvo;
    letter-spacing: 0.5px;
  } @else if $type == helps {
    font-weight: 200;
    font-size: rem(10);
    font-family: Zilla Slab;
    letter-spacing: 1.5px;
  }
}
