.layout {
  min-height: 100dvh;
  &__content {
    @include background-color;
    display: flex;
    position: relative;
  }
  &__section {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
    gap: rem(16);
    padding: rem(16);
    width: 100%;
    min-height: calc(100dvh - rem(52));
  }
}
