// _button.scss
.button {
  display: inline-block;
  padding: rem(12) rem(24);
  @include foreground-color;
  @include text-color;
  cursor: pointer;
  border: none;
  border-radius: rem(4);
  font-size: rem(16);
  text-align: center;

  &--primary {
    background-color: $primary-color;
  }

  &--secondary {
    background-color: $secondary-color;
  }
}
