.navbar {
  @include highlighted-color;
  @include text-color;
  position: sticky;
  top: 0;
  padding: rem(16);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: rem(100);
  }

  &__menu {
    list-style: none;
    display: flex;
    padding: 0;
  }
  &__menu-item {
    padding: rem(8) rem(16);
    &:hover,
    &--active {
      background: $primary-color;
      border-radius: rem(4);
      color: $ss-white;
    }
  }
}
