.navbar {
  @include highlighted-color;
  @include text-color;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: rem(0) rem(16);
  height: rem(52);

  &__logo {
    max-width: rem(100);
  }

  &__menu {
    display: flex;
    align-items: baseline;
    gap: rem(8);
    padding: 0;
    list-style: none;
  }
  &__menu-item {
    @include text(interface);
    display: inline;
    padding: rem(8) rem(8);
    &:hover,
    &--active {
      border-radius: rem(4);
      background: $primary-color;
      color: $ss-white;
    }
  }
  &__button {
    padding: rem(8) rem(16);
    &:hover {
      border-radius: rem(4);
      background: $primary-color;
    }
  }
}
